'ビスマルク': 'Bismarck'
'Italia': 'Littorio'
'イタリア': 'Littorio'
'リットリオ': 'Littorio'
'ローマ': 'Roma'
'プリンツ・オイゲン': 'Prinz Eugen'
'プリンツ=オイゲン': 'Prinz Eugen'
'プリンツ＝オイゲン': 'Prinz Eugen'
'プリンツ': 'Prinz Eugen'
'オイゲン': 'Prinz Eugen'
'ヴェールヌイ': '響'
'Верный': '響'
'レーベヒト・マース': 'Z1'
'レーベヒト=マース': 'Z1'
'レーベヒト＝マース': 'Z1'
'レーベヒト': 'Z1'
'マース': 'Z1'
'マックス・シュルツ': 'Z3'
'マックス=シュルツ': 'Z3'
'マックス＝シュルツ': 'Z3'
'マックス': 'Z3'
'シュルツ': 'Z3'
'リベッチオ': 'Libeccio'
'いむや': '伊168'
'イムヤ': '伊168'
'はっちゃん': '伊8'
#'イク': '伊19'
'ゴーヤ': '伊58'
'でっちー': '伊58'
'ゆーちゃん': 'U-511'
'呂500': 'U-511'
'ろーちゃん': 'U-511'
'しおい': '伊401'
'龍鳳': '大鯨'

'ぼのたん': '曙'
'飢えた狼': '足柄'
'バーニングラブ': '金剛'
'食べりゅ': '瑞鳳'

# http://dic.pixiv.net/a/%E8%89%A6%E9%9A%8A%E3%81%93%E3%82%8C%E3%81%8F%E3%81%97%E3%82%87%E3%82%93%28%E4%BA%8C%E6%AC%A1%E5%89%B5%E4%BD%9C%29
'ワレアオバ': '青葉'
'アオバワレェ!': '青葉'
'青葉被害者の会': '青葉'
'青葉、見ちゃいました!': '青葉'
'青葉終了のお知らせ': '青葉'
'ソロモンの狼': '青葉'
'大食艦': '赤城'
'暴食の赤城': '赤城'
'鬼!悪魔!!大食艦!!!': '赤城'
'ボーキサイトの女王': '赤城'
'特に理由のない赤城の大破': '赤城'
'安定の赤城': '赤城'
'妖怪食っちゃ寝': '赤城'
'かっこいい赤城': '赤城'
'きれいな赤城': '赤城'
'ブラック(コーヒー)鎮守府': '暁'
'一人前のレディー': '暁'
'一人前のレディ': '暁'
'一人前のレディ(笑)': '暁'
'ぷんすか!': '暁'
'!かすんぷ': '暁'
'小さいビスマルク': '暁'
'だらし姉ぇ': '阿賀野'
'だらし姉': '阿賀野'
'秋雲先生': '秋雲'
'秋雲終了のお知らせ': '秋雲'
'オータムクラウド': '秋雲'
'長10cm砲ちゃん': '秋月'
'超10cm砲ちゃん': '秋月'
'秋月にたらふく食べさせ隊': '秋月'
'着物曙': '曙'
'ラブリーマイエンジェルぼのたん': '曙'
'クソ提督製造機': '曙'
'忠犬朝潮': '朝潮'
'売れた狼': '足柄'
'熟れた狼': '足柄'
'妙齢型': '足柄'
'足柄先生': '足柄'
'ケッコン(狩)': '足柄'
'パールデンスタールト・ウォルフ': '足柄'
'アタゴン': '愛宕'
'でかい初雪': '天城'
'連装砲くん': '天津風'
'神戸娘': '荒潮'
'しおい': '伊401'
'でち公': '伊58'
'ダメ提督製造機': '雷'
'ダメ提督量産装置': '雷'
'ダメ男製造機': '雷'
'雷は私の母になってくれたかもしれない女性だ': '雷'
'雷ちゃんマジ天使': '雷'
'ブラックサンダー': '雷'
'十二鈴': '五十鈴'
'五十鈴牧場': '五十鈴'
'対潜女王': '五十鈴'
'マイクロ長門': '磯風'
'羅刹艦磯風': '磯風'
'!すでのな': '電'
'プラズマちゃん': '電'
'ぷらずま': '電'
'素手のな!!': '電'
'電は俺の嫁': '電'
'電ちゃんマジ天使': '電'
'いにゃづま': '電'
'電の本気を見るのです!': '電'
'ガチレズ大井bot': '大井'
'変態大井さん': '大井'
'ハイパー大井っち': '大井'
'スーパー大井っち': '大井'
'綺麗な大井': '大井'
'加賀いじめ': '加賀'
'変態加賀さん': '加賀'
'頭にきました': '加賀'
'五航戦いじめ': '加賀'
'五航戦の子なんかと一緒にしないで': '加賀'
'やりました': '加賀'
'ここは譲れません': '加賀'
'制裁空母': '加賀'
'加賀つむり': '加賀'
'加っ古いい': '加古'
'ダメ提督更正機': '霞'
'KGいじめ': '葛城'
'香取教授': '香取'
'横浜のカトリーヌ': '香取'
'心配しないで?色々と優しく指導させて頂きますから。': '香取'
'香取の服': '香取'
'M提督の味方': '香取'
'木曾がかわいすぎて生きてるのが辛い': '木曾'
'眼帯のかっこいい方': '木曾'
'スーパー北上さま': '北上'
'スーパー北上': '北上'
'大井ホイホイ': '北上'
'ハイパー北上さま': '北上'
'おにおこ': '鬼怒'
'マイクチェックの時間だオラァ!': '霧島'
'霧島組': '霧島'
'黒霧島': '霧島'
'球磨おねーちゃん': '球磨'
'大阪で生まれた艦娘': '黒潮'
'比叡ホイホイ': '金剛'
'バーニングラブ(物理)': '金剛'
'うごんこ': '金剛'
'妖怪紅茶くれ': '金剛'
'ロリ金剛': '金剛'
'コン剛': '金剛'
'金剛いじめ': '金剛'
'君たちには失望したよ': '時雨'
'大天使時雨': '時雨'
'夏服時雨': '時雨'
'水着時雨': '時雨'
'島風の服': '島風'
'ぜかまし': '島風'
'連装砲ちゃん': '島風'
'連装砲さん': '島風'
'はぐれ連装砲ちゃん': '島風'
'ディフェンスに定評のある連装砲ちゃん': '島風'
'46cm三連装砲ちゃん': '島風'
'ぜかましい': '島風'
'なにこれぜかましい': '島風'
'島風くん': '島風'
'ぜかまざらし': '島風'
'ぜかましちゃん': '島風'
'んゃちぜかまし': '島風'
'縞風': '島風'
'銀髪の子かわいそう': '翔鶴'
'被害担当艦': '翔鶴'
'着付け祥鳳': '祥鳳'
'夏服白露': '白露'
'水着白露': '白露'
'だいたい不知火の落ち度': '不知火'
'何でしょうか?不知火に落ち度でも?': '不知火'
'戦艦クラスの眼光': '不知火'
'変態不知火さん': '不知火'
'シーラヌイ': '不知火'
'修羅ぬい': '不知火'
'橿原丸': '隼鷹'
'神通ちゃんのファンになります': '神通'
'ZKいじめ': '瑞鶴'
'ZHいじめ': '瑞鳳'
'づほ': '瑞鳳'
'駆逐艦瑞鳳': '瑞鳳'
'YKJ': '瑞鳳'
'食べりゅ教': '瑞鳳'
'でかい睦月': '鈴谷'
'夜戦バカ': '川内'
'夜戦仮面': '川内'
'夜戦忍者': '川内'
'川内ちゃんのファンになります': '川内'
'センダイ=サン': '川内'
'潜水お艦': '大鯨'
'大鳳装備': '大鳳'
'THいじめ': '大鳳'
'タウイタウイの女神': '大鳳'
'小さい妙高': '高波'
'鬼畜艦龍田': '龍田'
'天龍型のこわくて可愛い方': '龍田'
'天龍型の黒が眩しい方': '龍田'
'筑摩GIF': '筑摩'
'天龍いじめ': '天龍'
'天龍猫': '天龍'
'龍田さんこっちです': '天龍'
'フフ怖': '天龍'
'天龍終了のお知らせ': '天龍'
'眼帯のかわいい方': '天龍'
'天龍型の白が眩しい方': '天龍'
'燃2弾4鋼11': '那珂'
'2-4-11': '那珂'
'ﾅｶﾁｬﾝﾀﾞｯﾀﾖｰ': '那珂'
'ﾅｶﾁｬﾝﾀﾞﾖｰ': '那珂'
'那珂ちゃんだよー': '那珂'
'艦隊のアイドル': '那珂'
'那珂ちゃんのファンやめます': '那珂'
'那珂ちゃんのファンになります': '那珂'
'那珂ちゃんのファンやめるなんてとんでもないです': '那珂'
'那珂ちゃんのファンやめません': '那珂'
'解体のアイドル': '那珂'
'恋の2-4-11': '那珂'
'那珂ちゃん': '那珂'
'＼ﾅｯｶﾘｰﾝ/': '那珂'
'全艦娘那珂化計画': '那珂'
'おもしろい格好のアブナイ女': '長門'
'Puka-Puka': '長門'
'ビッグ7(歳)': '長門'
'とりながと': '長門'
'長門終了のお知らせ': '長門'
'憲兵さんこのながもんです': '長門'
'長門は俺の嫁': '長門'
'那智スハール': '那智'
'那智先生': '那智'
'でかい菊月': '那智'
'羽黒先生': '羽黒'
'羽黒さんを守ってあげたい': '羽黒'
'初春狐': '初春'
'はつしもふもふ': '初霜'
'春雨スープ': '春雨'
'でかい雷': '榛名'
'榛名は大丈夫です': '榛名'
'榛名はどこまで大丈夫か': '榛名'
'はるにゃ': '榛名'
'榛名ちゃんマジ天使': '榛名'
'変態比叡さん': '比叡'
'比叡カレー': '比叡'
'比叡はアホかわいい': '比叡'
'ひえいぬ': '比叡'
'まんじゅう比叡': '比叡'
'でかい暁': 'Bismarck'
'ばーしぱす': '響'
'フリーダム響': '響'
'デカブリスト': '響'
'鍋響': '響'
'まあ、そうなるな': '日向'
'日向師匠': '日向'
'特別な瑞雲': '日向'
'出雲丸': '飛鷹'
'出雲マン': '飛鷹'
'激おこ多聞丸': '飛龍'
'多聞丸さんこの人です': '飛龍'
'京美人戦艦': '扶桑'
'ふぶなんとかさん': '吹雪'
# 'パンツ!パンツです!': '吹雪'
'しば吹雪': '吹雪'
'吹雪貝': '吹雪'
'淫獣吹雪': '吹雪'
'吹雪いじめ': '吹雪'
'文月ちゃんは天使である': '文月'
'プリケツ・オイゲン': 'Prinz Eugen'
'大天使古鷹': '古鷹'
'顔火傷説': '古鷹'
'堕天使古鷹': '古鷹'
'全ての空母の母': '鳳翔'
'居酒屋鳳翔': '鳳翔'
'お艦': '鳳翔'
'まるゆは癒やし': 'まるゆ'
'くまりんこ': '三隈'
'妙高先生': '妙高'
'妙高型クソコラグランプリ': '妙高'
'本当に怖い妙高姉さん': '妙高'
'でかい高波': '妙高'
'妙高は私の母になってくれたかもしれない女性だ': '妙高'
'伊634': '武蔵'
'超弩級潜水戦艦': '武蔵'
'武蔵の帰投2015': '武蔵'
'ナマコニキ': '武蔵'
'陸奥になるビーム': '陸奥'
'MNB': '陸奥'
'り陸奥たか': '陸奥'
'どうせみんな陸奥になる': '陸奥'
'ラバウル名物': '陸奥'
'ラバウルの女神': '陸奥'
'謎の村雨嬢': '村雨'
'夏服村雨': '村雨'
'水着村雨': '村雨'
'小江戸美人戦艦': '山城'
'大和ビキニ': '大和'
'これ絶対怒ってるよね': '弥生'
'信じて送り出したU-511が…': 'U-511'
'U派味覚党': 'U-511'
'さつき1号': 'U-511'
'素敵なパーティー(血祭り)': '夕立'
'鬼畜艦': '夕立'
'ぽいぬ': '夕立'
'ぽいぽい教': '夕立'
'デストロイヤー夕立': '夕立'
'ソロモンの悪夢': '夕立'
'夕立っぽい生物': '夕立'
'夏服夕立': '夕立'
'水着夕立': '夕立'
'はむかぜ': '雪風'
'雪風の服': '雪風'
'しれぇ': '雪風'
'RJいじめ': '龍驤'
'深刻なRJいじめ': '龍驤'
'手の込んだRJいじめ': '龍驤'
'RJT': '龍驤'
'独特なシルエット': '龍驤'
'クールマゾ': '若葉'
###
'くちくいきゅう': '駆逐イ級'
'駆逐イ級後期型': '駆逐イ級'
'敵艦隊のマスコット': '駆逐イ級'
'敵艦隊のアイドル': '空母ヲ級'
'ジャック・ヲ・ランタン': '空母ヲ級'
'ヲ級幼体': '空母ヲ級'
'空母ヲ餅': '空母ヲ級'
'サンタ級': '戦艦タ級'
'敵艦隊のグラドル': '戦艦タ級'
'レ級の服': '戦艦レ級'
'わるさめ(悪雨)': '駆逐棲姫'
'パーフェクト駆逐棲姫': '駆逐棲姫'
'スーパーダイソン': '戦艦水鬼'
'敵艦隊のお艦': '戦艦棲姫'
'16inch三連装砲さん': '戦艦棲姫'
'ダイソン(艦これ)': '戦艦棲姫'
'リコリス・ヘンダーソン': '飛行場姫'
'港湾の怖い方': '港湾水鬼'
'あくたん': '北方棲姫'
'ほっぽちゃん': '北方棲姫'
'幼塞': '北方棲姫'
'妖怪ゼロおいてけ': '北方棲姫'
'戦艦棲姫さんこっちです': '北方棲姫'
'ほっぽっぽ': '北方棲姫'
'南方海域版ダイソン': '南方棲戦姫'
###

# http://dic.pixiv.net/a/%E8%89%A6%E9%9A%8A%E3%81%93%E3%82%8C%E3%81%8F%E3%81%97%E3%82%87%E3%82%93%E3%82%AB%E3%83%83%E3%83%97%E3%83%AA%E3%83%B3%E3%82%B0%E3%82%BF%E3%82%B0
'伊勢日向': ['伊勢', '日向']
'金榛': ['金剛', '榛名']
'比金': ['比叡', '金剛']
'榛霧': ['榛名', '霧島']
'比榛': ['比叡', '榛名']
'長陸奥': ['長門', '陸奥']
'ちとちよ': ['千歳', '千代田']
'瑞翔': ['瑞鶴', '翔鶴']
'瑞祥': ['瑞鳳', '祥鳳']
'隼飛': ['隼鷹', '飛鷹']
'足高': ['足柄', '妙高']
'愛高': ['愛宕', '高雄']
'加古鷹': ['加古', '古鷹']
'加古衣': ['加古', '衣笠']
'鈴熊': ['鈴谷', '熊野']
'古鷹青葉': ['古鷹', '青葉']
'那智柄': ['那智', '足柄']
'摩耶鳥': ['摩耶', '鳥海']
'妙黒': ['妙高', '羽黒']
'もがみくま': ['最上', '三隈']
'とねちく': ['利根', '筑摩']
'大北': ['大井', '北上']
'木曾大井': ['木曾', '大井']
'天龍田': ['天龍', '龍田']
'あがのしろ': ['阿賀野', '能代']
'やはさかわ': ['矢矧', '酒匂']
'川神': ['川内', '神通']
'暁響': ['暁', '響']
'朝荒': ['朝潮', '荒潮']
'皐長': ['皐月', '長月']
'響電': ['響', '電']
'夕時雨': ['夕立', '時雨']
'かげぬい': ['陽炎', '不知火']
'さざうし': ['漣', '潮']
'うしぼの': ['潮', '曙']
'しらふぶ': ['白雪', '吹雪']
'さみすず': ['五月雨', '涼風']
'さみだち': ['五月雨', '夕立']
'しぐさみ': ['時雨', '五月雨']
'はまゆき': ['浜風', '雪風']
'吹叢': ['吹雪', '叢雲']
'磯浜': ['磯風', '浜風']
'わかしも': ['若葉', '初霜']
'舞野': ['舞風', '野分']
'初風雪風': ['初風', '雪風']
'はるだち': ['春雨', '夕立']
'むつきさ': ['睦月', '如月']
'双津風': ['天津風', '時津風']
'ゆきとき': ['雪風', '時津風']
'村春雨': ['村雨', '春雨']
'ひえしろ': ['比叡', '山城']
'ひゅがふそ': ['日向', '扶桑']
'むさなが': ['武蔵', '長門']
'むさむつ': ['武蔵', '陸奥']
'やまなが': ['大和', '長門']
'やまむつ': ['大和', '陸奥']
'赤賀': ['赤城', '加賀']
'赤翔': ['赤城', '翔鶴']
'赤天': ['赤城', '天城']
'瑞加賀': ['瑞鶴', '加賀']
'瑞葛': ['瑞鶴', '葛城']
'ズイカツ': ['瑞鶴', '葛城']
'瑞瑞': ['瑞鶴', '瑞鳳']
'翔加賀': ['翔鶴', '加賀']
'RJTH': ['龍驤', '大鳳']
'RJZH': ['龍驤', '瑞鳳']
'蒼飛': ['蒼龍', '飛龍']
'妙高雄': ['妙高', '高雄']
'みょたご': ['妙高', '愛宕']
'あぶきた': ['阿武隈', '北上']
'あぶせん': ['阿武隈', '川内']
'木曾天': ['木曾', '天龍']
'やばり': ['矢矧', '夕張']
'由良張': ['由良', '夕張']
'暁漣': ['暁', '漣']
'秋月朧': ['秋月', '朧']
'朝雲野分': ['朝雲', '野分']
'かげさつ': ['陽炎', '皐月']
'かげぼの': ['陽炎', '曙']
'清リベ': ['清霜', 'Libeccio']
'しらすみ': ['不知火', '霞']
'島津風': ['島風', '天津風']
'島吹': ['島風', '吹雪']
'涼朝': ['涼風', '朝潮']
'ヌイぬい': ['響', '不知火']
'はやぬい': ['早霜', '不知火']
'響潮': ['響', '潮']
'響朝霜': ['響', '朝霜']
'吹睦': ['吹雪', '睦月']
'ふぶあき': ['吹雪', '秋月']
'ゆきしま': ['雪風', '島風']
'ゆきしも': ['雪風', '初霜']
'ゆーでち': ['U-511', '伊58']
'ろーしお': ['U-511', '伊401']
'ろーでち': ['U-511', '伊58']
'赤吹': ['赤城', '吹雪']
'赤舞': ['赤城', '舞風']
'あかよど': ['明石', '大淀']
'あきつまるゆ': ['あきつ丸', 'まるゆ']
'アシタイ': ['足柄', '大淀']
'あしすみ': ['足柄', '霞']
'あしきよ': ['足柄', '清霜']
'愛島': ['愛宕', '島風']
'あぶさみ': ['阿武隈', '五月雨']
'あぶすみ': ['阿武隈', '霞']
'大時雨': ['大鯨', '時雨']
'天津驤': ['天津風', '龍驤']
'加古卯月': ['加古', '卯月']
'木曾まる': ['木曾', 'まるゆ']
'鯨の時雨煮': ['大鯨', '時雨']
'大時雨': ['大鯨', '時雨']
'熊野暁': ['熊野', '暁']
'くもとり': ['雲龍', '大鳳']
'瑞秋': ['瑞鶴', '秋月']
'瑞川': ['瑞鶴', '川内']
'瑞吹': ['瑞鶴', '吹雪']
'瑞榛': ['瑞鶴', '榛名']
'翔秋': ['翔鶴', '秋月']
'しょうはぎ': ['翔鶴', '矢矧']
'島長': ['島風', '長門']
'Wあきつ': ['あきつ丸', '秋津洲']
'天島': ['天龍', '島風']
'時龍鳳': ['時雨', '大鯨']
'なかのわ': ['那珂', '野分']
'なかはぐ': ['那珂', '羽黒']
'長酒': ['長門', '酒匂']
'長那智': ['長門', '那智']
'のしまかぜ': ['能代', '島風']
'のしさみ': ['能代', '五月雨']
'はつゆきたかみ': ['初雪', '北上']
'榛葛': ['榛名', '葛城']
'ビスプリ': ['Bismarck', 'Prinz Eugen']
'吹加賀': ['吹雪', '加賀']
'舞加賀': ['舞風', '加賀']
'みょこなみ': ['妙高', '高波']
'武島': ['武蔵', '島風']
'むさじゅん': ['武蔵', '隼鷹']
'もがしぐ': ['最上', '時雨']
'やましぐれ': ['山城', '時雨']
'山時雨': ['山城', '時雨']
'やまひび': ['大和', '響']
'やまはぎ': ['大和', '矢矧']
'やまほう': ['大和', '鳳翔']
'ゆうきさ': ['夕張', '如月']
'ゆうさみ': ['夕張', '五月雨']
'ゆうむつ': ['夕張', '睦月']
'ゆうやよ': ['夕張', '弥生']
'夕柄': ['夕立', '足柄']
'夕島': ['夕張', '島風']
'ゆきひえ': ['雪風', '比叡']
'ゆらだち': ['由良', '夕立']
'由良吹': ['由良', '吹雪']
###
'龍北': ['龍驤', '北方棲姫']
'ひこわん': ['飛行場姫', '港湾棲姫']
'ほぽちゅう': ['北方棲姫', '中間棲姫']
'中間空母': ['中間棲姫', '空母棲鬼']
###
'!スーデのな': ['金剛', '電']
'早清姉妹': ['早霜', '清霜']
'扶桑姉妹': ['扶桑', '山城']
'雷電姉妹': ['雷', '電']
'高雄姉妹': ['高雄', '愛宕']
'大和姉妹': ['大和', '武蔵']
'一航戦': ['赤城', '加賀']
'二航戦': ['蒼龍', '飛龍']
'五航戦': ['翔鶴', '瑞鶴']
'鶴姉妹': ['翔鶴', '瑞鶴']
'十一航戦': ['千歳', '瑞穂']
'古鷹型': ['古鷹', '加古']
'青葉型': ['青葉', '衣笠']
'呉の雪風佐世保の時雨': ['雪風', '時雨']
'ハイパーズ': ['北上', '大井']
'工学部コンビ': ['夕張', '明石']
'最初と最後の空母': ['鳳翔', '葛城']
'鶴龍コンビ': ['瑞鶴', '飛龍']
