[
	'魚雷'
	'雷撃'
	'砲雷'
	'金剛型'
	'扶桑型'
	'伊勢型'
	'長門型'
	'大和型'
	'ビスマルク級'
	'扶桑型'
	'伊勢型'
	'翔鶴型'
	'雲龍型'
	'大鳳型'
	'祥鳳型'
	'飛鷹型'
	'千歳型'
	'瑞穂型'
	'秋津洲型'
	'古鷹型'
	'妙高型'
	'高雄型'
	'最上型'
	'利根型'
	'天龍型'
	'球磨型'
	'長良型'
	'川内型'
	'夕張型'
	'阿賀野型'
	'大淀型'
	'睦月型'
	'吹雪型'
	'綾波型'
	'暁型'
	'初春型'
	'白露型'
	'朝潮型'
	'陽炎型'
	'夕雲型'
	'秋月型'
	'島風型'
	'Z1型'
]
